.editor-container{
  width: 100%;
  height: 94.9vh;
  /* border: 2px solid red; */
  margin-top: 3px;
}

.count-container{
  display: flex;
  flex-direction: column;
  width: 46px;
  background-color: #eee;
}

.count{
  background-color: red;
  text-align: center;
}

[cursor-start]::before{
  content: '';
  display: block;
  width: 2px;
  height: 17px;
  position: absolute;
  background-color: rgb(4, 4, 4);
}

[cursor]::after{
  content: '';
  display: block;
  width: 2px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 2%;
  background-color: rgb(4, 4, 4);
}
