.advancedMenuContainer{
  width: 100%;
  display: grid;
  background-color: var(--primary-color);
  margin: 0;
  grid-template-columns: 85vw 1fr;
  justify-items: end;
}
.mag{
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  width: 240px;
}
.buttonsWriper{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.advancedMenuContainer .windowButton{
  border: none;
  width: 26px;
  height: 24px;
  margin-right: 12px;
  border-radius: 2px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advancedMenuContainer .windowButton .icon{
  stroke: var(--icon-color);
}
.advancedMenuContainer .windowButton:hover{
  background-color:var(--hover-color);
}
.tabs-container{
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 265px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1px;
}
.tabs-container::-webkit-scrollbar{
  height: 0.2em;
}
.tabs-container::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.tab-close{
  stroke: #444444;
}
.tabs{
  max-width:265px;
  font-size: 13px;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 80% 10%;
}

.tabs:hover{
  background-color: hsla(30, 9%, 9%, 0.2);
}

.close-tab-button{
  width: 20px;
  height: 20px;
  margin-right: -40px;
  margin-bottom: 2px;
}

/* @media (max-width: 1530px){
  .advancedMenuContainer{
    grid-template-columns: 84% 1fr;
  }
} */

@media (min-width: 884px){
  .advancedMenuContainer{
    grid-template-columns: 5fr 1fr;
  }
}

@media (min-width: 890px){
  .advancedMenuContainer{
    grid-template-columns: 6fr 1fr;
  }
}

@media (min-width: 925px){
  .advancedMenuContainer{
    grid-template-columns: 7fr 2fr;
  }
}

@media (min-width: 1081px){
  .advancedMenuContainer{
    grid-template-columns: 8fr 2fr;
  }
}

/* max-width: 1530px */

/* header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px;
  padding-left: 10px;
}

header nav .left-block span{
  font-size: 1.2rem;
}

header nav .right-block button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-position: center;
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid transparent;
  background-color: transparent;
  transition: background-color 0.2s linear, color 0.2s linear;
}

header nav .right-block button:hover{
  background-color: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 100%);
}

header nav .right-block .close:hover{
  background-color: hsl(0, 95%, 50%);
} */
